* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
}

a {
  color: white;
  margin-left: 10px;
  margin-right: 10px;
}

img {
  height: 300px;
  width: 300px;
  padding: 20px;
}

h1 {
  margin-bottom: 10px;
}

h2 {
  font-size: 24px;
  margin-top: 20px;
  margin-bottom: 10px;
}

ul {
  list-style: none;
}

li {
  margin-top: 10px;
}
